In [1]:

## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

## Import API key
from api_keys import g_key

In [2]:
## create census dataframes for each decade
cityCensus_1940 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '1940')
cityCensus_1950 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '1950')
cityCensus_1960 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '1960')
cityCensus_1970 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '1970')
cityCensus_1980 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '1980')
cityCensus_1990 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '1990')
cityCensus_2000 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '2000')
cityCensus_2010 = pd.read_excel('../Data/Largest 100 US Cities 1940-2010.xlsx', '2010')

del cityCensus_1940['Unnamed: 0']
del cityCensus_1950['Unnamed: 0']
del cityCensus_1960['Unnamed: 0']
del cityCensus_1970['Unnamed: 0']
del cityCensus_1980['Unnamed: 0']
del cityCensus_1990['Unnamed: 0']
del cityCensus_2000['Unnamed: 0']
del cityCensus_2010['Unnamed: 0']

cityCensus_2010.head()

           City         State  Population   Location
0      New York      New York     8175133  Northeast
1   Los Angeles    California     3792621       West
2       Chicago      Illinois     2695598    Midwest
3       Houston         Texas     2099451      South
4  Philadelphia  Pennsylvania     1526006  Northeast

In [3]:
# base url
base_url = 'https://maps.googleapis.com/maps/api/geocode/json'

params = {
    "key": g_key,
}

In [5]:
## lat/long function
def latLong(df):
    for index, row in df.iterrows():
        city = row['City']
        state = row['State']
        params['address'] = f'{city}, {state}'
        response = requests.get(base_url, params=params).json()
        df.loc[index, "Latitude"] = response['results'][0]['geometry']['location']['lat']
        df.loc[index, "Longitude"] = response['results'][0]['geometry']['location']['lng']
        #print(city)

In [7]:
## run function on each decade
# necessary to only run once:

# latLong(cityCensus_1940)
# latLong(cityCensus_1950)
# latLong(cityCensus_1960)
# latLong(cityCensus_1970)
# latLong(cityCensus_1980)
# latLong(cityCensus_1990)
# latLong(cityCensus_2000)
# latLong(cityCensus_2010)

In [9]:
## make csv files
cityCensus_1940.to_csv('../Data/cityCensus_1940.csv')
cityCensus_1950.to_csv('../Data/cityCensus_1950.csv')
cityCensus_1960.to_csv('../Data/cityCensus_1960.csv')
cityCensus_1970.to_csv('../Data/cityCensus_1970.csv')
cityCensus_1980.to_csv('../Data/cityCensus_1980.csv')
cityCensus_1990.to_csv('../Data/cityCensus_1990.csv')
cityCensus_2000.to_csv('../Data/cityCensus_2000.csv')
cityCensus_2010.to_csv('../Data/cityCensus_2010.csv')