In [1]:
## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from math import sin, cos, sqrt, atan2, radians
import warnings

In [2]:
plantPop = pd.read_csv('../Data/plantPop_noDuplicates.csv')

In [67]:
plantPop.head(10)

,Unnamed: 0,Zip,City,State,Latitude,Longitude,2010 Census Population,"Distance from Arkansas Nuclear One, Unit 1",Distance from Beaver Valley Power Station 1,Distance from Braidwood Station 1,...,Distance from Sequoyah 1,Distance from South Texas 1,Distance from Summer,Distance from Surry 1,Distance from Susquehanna 1,Distance from Turkey Point 3,Distance from Vogtle 1,Distance from Waterford 3,Distance from Watts Bar 1,Distance from Wolf Creek 1
0,0,5769,Salisbury,VT,43.914026,-73.10703,1216,1964.516138,703.791569,1275.062906,...,1413.202932,2619.275755,1278.988498,816.682053,655.662688,2157.290611,1430.107582,2177.150254,1355.830978,1994.970315
1,1,1085,Westfield,MA,42.133642,-72.75029,41117,1926.478786,661.448479,1290.960391,...,1322.663768,2546.519449,1144.984973,656.426400,635.033811,1984.280764,1293.831261,2080.818508,1267.610472,1996.520992
2,2,1340,Colrain,MA,42.673371,-72.73104,1701,1945.702821,678.067625,1293.146763,...,1356.176314,2576.197606,1190.399368,708.057996,644.811577,2040.142885,1340.062884,2116.809863,1300.357427,2004.169739
3,3,26035,Colliers,WV,40.352943,-80.55585,2491,1245.246703,32.787622,656.163449,...,699.698547,1889.009288,675.234730,481.615397,113.903325,1655.585469,818.234170,1460.484573,640.926797,1327.964576
4,4,36279,Wellington,AL,33.862349,-85.89512,2645,692.507354,894.790543,845.288021,...,165.836320,1098.798820,427.275881,897.182914,966.988675,1069.953709,369.996463,609.421102,224.390980,1007.760155
5,5,37020,Bell Buckle,TN,35.616935,-86.39629,5036,621.263753,763.941229,644.833939,...,117.230643,1162.898159,487.721963,872.405145,828.373832,1262.474487,490.626073,731.620777,139.088096,879.017596
6,6,21787,Taneytown,MD,39.665171,-77.17264,10693,1495.684231,296.273334,954.119610,...,861.981723,2089.105923,698.702015,282.601872,327.377104,1608.829796,849.948325,1618.735749,807.801138,1612.386282
7,7,22560,Tappahannock,VA,37.916172,-76.90656,6704,1484.741059,427.323431,1040.113467,...,797.389097,2023.417680,561.891538,86.754916,482.882256,1424.838913,708.407024,1527.981516,750.005287,1647.366133
8,8,22812,Bridgewater,VA,38.398049,-79.00071,8927,1311.361851,276.497925,851.177582,...,653.606698,1882.772928,498.676195,236.411731,348.928537,1444.806156,650.026784,1407.550717,600.820710,1459.832103
9,9,21075,Elkridge,MD,39.197119,-76.75178,26344,1519.712436,351.222462,1002.791806,...,867.128290,2096.661209,677.204036,229.119977,387.908327,1566.224188,827.284438,1617.091974,814.848262,1649.559795

In [41]:
onePlant = pd.DataFrame(plantPop['Distance from Arkansas Nuclear One, Unit 1'].copy())
onePlant.head()

   Distance from Arkansas Nuclear One, Unit 1
0                                 1964.516138
1                                 1926.478786
2                                 1945.702821
3                                 1245.246703
4                                  692.507354

In [47]:
onePlant.sort_values(by= 'Distance from Arkansas Nuclear One, Unit 1',  inplace=True)

In [48]:
onePlant.head()

       Distance from Arkansas Nuclear One, Unit 1
16495                                    6.513935
31050                                   10.355282
9999                                    11.197992
7511                                    11.592383
30417                                   12.768701

In [56]:
theEdges = np.arange(0, 500, 10)
theEdges

array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120,
       130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250,
       260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380,
       390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490])

In [63]:
x['Distance'] = pd.cut(onePlant['Distance from Arkansas Nuclear One, Unit 1'], bins=theEdges)

In [64]:
x.head()

16495     (0.0, 10.0]
31050    (10.0, 20.0]
9999     (10.0, 20.0]
7511     (10.0, 20.0]
30417    (10.0, 20.0]
Name: Distance from Arkansas Nuclear One, Unit 1, dtype: object

In [60]:
len(x)

32878