In [2]:
# Dependencies and Setup

import pandas as pd

import gmaps


# Import API key
from api_keys import g_key

In [3]:
# Reading census data
census_1940 = pd.read_csv("../Data/cityCensus_1940.csv")
census_1950 = pd.read_csv("../Data/cityCensus_1950.csv")
census_1950.head()

,Unnamed: 0,City,State,Population,Location,Latitude,Longitude
0,0,New York City,New York,7891957,Northeast,40.712775,-74.005973
1,1,Chicago,Illinois,3620962,Midwest,41.878114,-87.629798
2,2,Philadelphia,Pennsylvania,2071605,Northeast,39.952584,-75.165222
3,3,Los Angeles,California,1970358,West,34.052234,-118.243685
4,4,Detroit,Michigan,1849568,Midwest,42.331427,-83.045754

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)


pop1940 = census_1940["Population"]
maxpop1940 = pop1940.max()
locations1940 = census_1940[["Latitude", "Longitude"]]

pop1950 = census_1950["Population"]
maxpop1950 = pop1950.max()
locations1950 = census_1950[["Latitude", "Longitude"]]

In [5]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer1 = gmaps.heatmap_layer(locations1940, weights=pop1940,dissipating=False, max_intensity=maxpop1940,point_radius=3)

heat_layer2 = gmaps.heatmap_layer(locations1950, weights=pop1950,dissipating=False, max_intensity=maxpop1950,point_radius=3)
# Add layer
fig.add_layer(heat_layer1)
fig.add_layer(heat_layer2)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
usReactors = pd.read_excel('../Data/LatLongPlants.xlsx')
reactorLocations = usReactors[["Lat", "Long"]]
reactorLocations

          Lat       Long
0   35.330898 -93.247162
1   35.330898 -93.247162
2   40.629372 -80.421249
3   40.629372 -80.421249
4   41.226929 -88.264282
..        ...        ...
91  33.090038 -82.015846
92  30.004869 -90.482010
93  35.691879 -84.860107
94  35.691879 -84.860107
95  38.194569 -95.744698

[96 rows x 2 columns]

In [7]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Reactor Name</dt><dd>{Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>State</dt><dd>{State}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
reactor_info = [info_box_template.format(**row) for index, row in usReactors.iterrows()]
locations = usReactors[["Lat", "Long"]]

In [8]:
## add markers
markerLayer = gmaps.marker_layer(locations, info_box_content = reactor_info)
fig.add_layer(markerLayer)
fig

Figure(layout=FigureLayout(height='420px'))