In [1]:
## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

## Import API key
from api_keys import g_key

In [2]:
## configure the gmaps key
gmaps.configure(api_key=g_key)

In [3]:
## load up reactor data
usReactors = pd.read_excel('../Data/LatLongPlants.xlsx')
usReactors.head()

,Name,City,State,Lat,Long,Open,License Expires,Unnamed: 7,Unnamed: 8,Unnamed: 9,Website
0,"Arkansas Nuclear One, Unit 1",London,AR,35.330898,-93.247162,1974,2034,NaN,NaN,NaN,https://www.nrc.gov/info-finder/reactors/
1,"Arkansas Nuclear One, Unit 2",London,AR,35.330898,-93.247162,1974,2034,NaN,NaN,NaN,NaN
2,Beaver Valley Power Station 1,Shippingport,PA,40.629372,-80.421249,1976,2036,NaN,NaN,NaN,NaN
3,Beaver Valley Power Station 2,Shippingport,PA,40.629372,-80.421249,1976,2036,NaN,NaN,NaN,NaN
4,Braidwood Station 1,Braceville,IL,41.226929,-88.264282,1987,2046,NaN,NaN,NaN,NaN

In [4]:
## Get lat & long coordinates for every reactor
reactorLocations = usReactors[["Lat", "Long"]]
reactorLocations

          Lat       Long
0   35.330898 -93.247162
1   35.330898 -93.247162
2   40.629372 -80.421249
3   40.629372 -80.421249
4   41.226929 -88.264282
..        ...        ...
91  33.090038 -82.015846
92  30.004869 -90.482010
93  35.691879 -84.860107
94  35.691879 -84.860107
95  38.194569 -95.744698

[96 rows x 2 columns]

In [5]:
## Make map figure
fig = gmaps.figure()

In [6]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Reactor Name</dt><dd>{Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>State</dt><dd>{State}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
reactor_info = [info_box_template.format(**row) for index, row in usReactors.iterrows()]
locations = usReactors[["Lat", "Long"]]

In [10]:
## add markers
markerLayer = gmaps.marker_layer(locations, info_box_content = reactor_info)
fig.add_layer(markerLayer)
fig

Figure(layout=FigureLayout(height='420px'))