In [1]:
## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from math import sin, cos, sqrt, atan2, radians
import warnings

In [2]:
## Import API key
from api_keys import g_key
## configure the gmaps key
gmaps.configure(api_key=g_key)

In [3]:
binnedPop = pd.read_csv('../Data/binnedPop.csv')
binnedPop.head()

,Unnamed: 0,"Distance from Arkansas Nuclear One, Unit 1",Distance from Beaver Valley Power Station 1,Distance from Braidwood Station 1,Distance from Browns Ferry Nuclear Plant 1,Distance from Brunswick Steam Electric Plant 1,Distance from Byron Station 1,Distance from Callaway Plant 1,Distance from Calvert Cliffs Nuclear Power Plant 1,Distance from Catawba Nuclear Station 1,...,Distance from Surry 1,Distance from Susquehanna 1,Distance from Turkey Point 3,Distance from Vogtle 1,Distance from Waterford 3,Distance from Watts Bar 1,Distance from Wolf Creek 1,Mean Pop,StDev Pop,Median Pop
0,0,2850,12763,21041,45865,16126,11207,22437,44300,30670,...,3484,22906,155195,13966,51920,8855,4007,39678.438596,52496.103698,21041.0
1,1,64692,190311,36326,51846,20897,71842,9839,45704,89762,...,49638,47713,117302,2109,41741,7556,1574,84794.105263,96776.410066,49638.0
2,2,22898,194242,41035,146552,52156,195884,17636,57885,223810,...,163567,81992,404485,45019,174409,66661,5056,136450.280702,143332.911431,71242.0
3,3,20356,435755,245765,186611,164673,169074,200485,67225,316042,...,229809,188896,470243,92880,400116,117202,6701,229884.526316,261525.414130,164673.0
4,4,25134,724334,279721,166061,50452,164420,66669,112863,606648,...,308933,343821,711605,229574,400796,71702,53085,338885.894737,523007.705703,164420.0

In [4]:
latLongPlants = pd.read_excel('../Data/LatLongPlants.xlsx')
latLongPlants.head()

,Name,City,State,Lat,Long,Open,License Expires,Unnamed: 7,Unnamed: 8,Unnamed: 9,Website
0,"Arkansas Nuclear One, Unit 1",London,AR,35.330898,-93.247162,1974,2034,NaN,NaN,NaN,https://www.nrc.gov/info-finder/reactors/
1,"Arkansas Nuclear One, Unit 2",London,AR,35.330898,-93.247162,1974,2034,NaN,NaN,NaN,NaN
2,Beaver Valley Power Station 1,Shippingport,PA,40.629372,-80.421249,1976,2036,NaN,NaN,NaN,NaN
3,Beaver Valley Power Station 2,Shippingport,PA,40.629372,-80.421249,1976,2036,NaN,NaN,NaN,NaN
4,Braidwood Station 1,Braceville,IL,41.226929,-88.264282,1987,2046,NaN,NaN,NaN,NaN

In [5]:
plantPop = pd.read_csv('../Data/plantPop_noDuplicates.csv')
plantPop.head(10)

,Unnamed: 0,Zip,City,State,Latitude,Longitude,2010 Census Population,"Distance from Arkansas Nuclear One, Unit 1",Distance from Beaver Valley Power Station 1,Distance from Braidwood Station 1,...,Distance from Sequoyah 1,Distance from South Texas 1,Distance from Summer,Distance from Surry 1,Distance from Susquehanna 1,Distance from Turkey Point 3,Distance from Vogtle 1,Distance from Waterford 3,Distance from Watts Bar 1,Distance from Wolf Creek 1
0,0,5769,Salisbury,VT,43.914026,-73.10703,1216,1964.516138,703.791569,1275.062906,...,1413.202932,2619.275755,1278.988498,816.682053,655.662688,2157.290611,1430.107582,2177.150254,1355.830978,1994.970315
1,1,1085,Westfield,MA,42.133642,-72.75029,41117,1926.478786,661.448479,1290.960391,...,1322.663768,2546.519449,1144.984973,656.426400,635.033811,1984.280764,1293.831261,2080.818508,1267.610472,1996.520992
2,2,1340,Colrain,MA,42.673371,-72.73104,1701,1945.702821,678.067625,1293.146763,...,1356.176314,2576.197606,1190.399368,708.057996,644.811577,2040.142885,1340.062884,2116.809863,1300.357427,2004.169739
3,3,26035,Colliers,WV,40.352943,-80.55585,2491,1245.246703,32.787622,656.163449,...,699.698547,1889.009288,675.234730,481.615397,113.903325,1655.585469,818.234170,1460.484573,640.926797,1327.964576
4,4,36279,Wellington,AL,33.862349,-85.89512,2645,692.507354,894.790543,845.288021,...,165.836320,1098.798820,427.275881,897.182914,966.988675,1069.953709,369.996463,609.421102,224.390980,1007.760155
5,5,37020,Bell Buckle,TN,35.616935,-86.39629,5036,621.263753,763.941229,644.833939,...,117.230643,1162.898159,487.721963,872.405145,828.373832,1262.474487,490.626073,731.620777,139.088096,879.017596
6,6,21787,Taneytown,MD,39.665171,-77.17264,10693,1495.684231,296.273334,954.119610,...,861.981723,2089.105923,698.702015,282.601872,327.377104,1608.829796,849.948325,1618.735749,807.801138,1612.386282
7,7,22560,Tappahannock,VA,37.916172,-76.90656,6704,1484.741059,427.323431,1040.113467,...,797.389097,2023.417680,561.891538,86.754916,482.882256,1424.838913,708.407024,1527.981516,750.005287,1647.366133
8,8,22812,Bridgewater,VA,38.398049,-79.00071,8927,1311.361851,276.497925,851.177582,...,653.606698,1882.772928,498.676195,236.411731,348.928537,1444.806156,650.026784,1407.550717,600.820710,1459.832103
9,9,21075,Elkridge,MD,39.197119,-76.75178,26344,1519.712436,351.222462,1002.791806,...,867.128290,2096.661209,677.204036,229.119977,387.908327,1566.224188,827.284438,1617.091974,814.848262,1649.559795

In [6]:
reactorLocations = latLongPlants[['Lat', 'Long']]
reactorLocations.head()

         Lat       Long
0  35.330898 -93.247162
1  35.330898 -93.247162
2  40.629372 -80.421249
3  40.629372 -80.421249
4  41.226929 -88.264282

In [7]:
cols = plantPop.columns
colsDF = pd.DataFrame(cols)
thePlantNames = colsDF.loc[7:len(cols)]
thePlantNames.head(3)

                                             0
7   Distance from Arkansas Nuclear One, Unit 1
8  Distance from Beaver Valley Power Station 1
9            Distance from Braidwood Station 1

In [8]:
# calculate max 2010 population 
def findMaxPopOfIncludedZips(plantName, df, distance):
    df.sort_values(by= [plantName],  inplace=True)
    nearPops = df[(onePlant[plantName] <= distance)]
    pops = nearPops['2010 Census Population'].values
    maxPop.append(max(pops))
    return maxPop

In [13]:
distance = 500 
maxPop = []
for index, row in thePlantNames.iterrows():
    plantName = row[0]
    onePlant = pd.DataFrame(plantPop[[plantName, 'Latitude', 'Longitude', '2010 Census Population']])
    maxPop = findMaxPopOfIncludedZips(plantName, plantPop, distance)
    
finalMaxPop = float(max(maxPop))
# finalMaxPop.astype(float)
type(finalMaxPop)

<ipython-input-8-5f36bbb9fa78>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nearPops = df[(onePlant[plantName] <= distance)]

float

In [14]:
def plotPopDensFromReactors(plantName, df, distance):
    df.sort_values(by= [plantName],  inplace=True)
    nearPops = df[(onePlant[plantName] <= distance)]
    locations = nearPops[["Latitude", "Longitude"]]
    pops = nearPops['2010 Census Population'].values
    heat_layer = gmaps.heatmap_layer(locations, weights=pops, dissipating=False, max_intensity=finalMaxPop, point_radius=.2)
    fig.add_layer(heat_layer)

In [15]:
# distance = 100
fig = gmaps.figure()
for index, row in thePlantNames.iterrows():
    plantName = row[0]
    onePlant = pd.DataFrame(plantPop[[plantName, 'Latitude', 'Longitude', '2010 Census Population']])
    plotPopDensFromReactors(plantName, onePlant, distance)

In [16]:
markerLayer = gmaps.symbol_layer(reactorLocations, fill_color='black', stroke_color='white', scale=2)
fig.add_layer(markerLayer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))